* {
  box-sizing: border-box;
}

#container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#board {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

#board div {
  width: 75px;
  height: 75px;
  text-align: center;
}

div img {
  width: 75px;
  z-index: 99999;
  color: rgba(225, 183, 134, 0.623);
}
